* {
  box-sizing: border-box;
}
body {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
header {
  background-color: blue;
  padding: 50px;
}
.main {
  height: 62vh;
  display: flex;
}
.left {
  background-color: yellow;
  padding: 50px;
  flex: 1 1 20%;
}
.content {
  background-color: green;
  padding: 50px;
  flex: 5 5 60%;
}
.right {
  background-color: orange;
  padding: 50px;
  flex: 1 1 20%;
}
footer {
  background-color: red;
  padding: 50px;
}
@media screen and (max-width: 500px) {
  .main {
    flex-direction: column;
  }
  .right {
    order: -1;
  }
}
